/* Reset CSS Básico */

/* Remove margens e padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adiciona esta linha para um melhor controle de layout */
}

/* Define as bordas e a altura mínima */
html, body {
    height: 100%;
    width: 100%;
    font-family: "Inter", serif;
    line-height: 1.6;
    font-size: 16px;
}

/* Remove listas de estilo padrão */
ul, ol {
    list-style: none;
}

/* Remove sublinhado de links */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove estilos padrão de botões */
button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Ajusta a redimensionamento do textarea */
textarea {
    resize: vertical;
}
